NEON_DEV_DATABASE_URL=postgresql://usuario:password@ep-xxxx-dev.us-east-2.aws.neon.tech/neondb?sslmode=require
SNOWFLAKE_ACCOUNT=tu_identificador_de_cuenta
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_password
SNOWFLAKE_WAREHOUSE=WH_DATAOPS
SNOWFLAKE_DATABASE=PARCH_AND_POSEY
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=DATAOPS_LOADER